<%- include("./partials/header.ejs")%>
    <div class="content">
        <h1>About This Site</h1>
        <p>This site was created to be an event meet up site for mice in the house. Mice can come together for the perfect scrap or just hang out. Stay updated to who's throwing a birthday party and more. </p>
        <p>Made by Jenna Bath.</p>

        <h1 class = "featured">Meet the developers!</h1><br>
        <div id="products">
            <div class="product">
                <a>
                    <h3>Piper</h3>
                    <img src="/images/piper.jpg" alt="developer piper">
                    <p>Piper is 9 months old, and her color is called "brindle." She loves oats. Oats are everything to her; she will forfeit all mortal possesions if she can get an oat. </p>
                </a>
            </div>
            
            <div class="product">
                <a>
                    <h3>Louise</h3>
                    <img src="/images/boweez.jpg" alt="developer louise">
                    <p>Louise is 9 months old, and her color is called "fawn." She has pink eyes, which is uncommon for mice that are not albino. She is not overweight by choice, 
                        but because of a gene that comes with her color. Her favorite activity is sitting.</p>
                </a>
            </div>

            <div class="product">
                <a> <h3>Stella</h3>
                    <img src="/images/stebba.jpg" alt="developer stella">
                    <p>Stella is 8 months old, and is a little shy. This is the only picture we could get out of her.
                         But, she has a lot of personality around her friends Louise, and Piper. She loves it when Piper does her hair. </p>
                </a>
               
            </div>

            <div class="product">
                <a><h3>Millie</h3>
                    <img src="/images/millieWithMom.jpg" alt="developer millie">
                    <p>Millie is 5 months old, and is mostly blind. But, she doesn't let that stop her when hunting for oats or fighting with her sister, Poppy. 
                        She may be small but she has a big heart, and will warm up to anyone who talks to her.</p>
                </a>
                
            </div>

            <div class="product">
                <a><h3>Poppy</h3>
                    <img src="/images/sockPoppy.jpg" alt="developer poppy">
                    <p>Poppy is 5 months old, and is the sister of Millie. She always looks out for her sister, even if they don't always get along. At the end of the day, the two are inseperable. </p>
                </a>
                
            </div>

            <div class="product">
                <a>
                    <h3>Olive</h3>
                    <img src="/images/crimasOlive.jpg" alt="developer olive">
                    <p>Olive was almost 2 years old at her passing. She was full of spirit and never ending energy. 
                        She loved to be around her friends, and wasn't afraid to defend them. She would greet everyone 
                        good morning, and good night. Olive loved to explore more than anything, but that also meant she got into a lot of trouble!</p>
                </a>
            </div>

            <div class="product">
                <a>
                    <h3>Winnie</h3>
                    <img src="/images/crimasWinnie.gif" alt="developer winnie">
                    <p>Winnie was 1 and a half years old at her passing. She had a skin problem and did not always look her best, but she never let that keep her down. 
                        Winnie wasn't shy and loved everybody. She liked being comfy and covered, and more than anything: she loved clicking her teeth. 
                        Winnie loved to hang out with everybody, and just chill with them for however long. She left a lot of friends behind. </p>
                </a>
                
            </div>
        </div>
        

    </div>
    <%- include("./partials/footer.ejs")%>