<%- include("./partials/header.ejs")%>
    <div class="content">
        <h1>Contact Information</h1>
        <p>Jenna Bath</p>
        <p>704-572-5818</p>
        <p>jbath@uncc.edu</p>
    </div>
    <%- include("./partials/footer.ejs")%>