<%- include("./partials/header.ejs")%>
    <div class = "content">
        <h3>This is Meet Mouse!</h3> 
        <p>A place for mice from all over the house to meet each other!       </p>
    </div>
<%- include("./partials/footer.ejs")%>
